.form-conatiner {
    width: 100%;
    .qo-form {
      width: 100%;
      .create-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: auto;
        div {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          width: 100%;
          gap : 20px;
          .mat-form-field , button{
            width: 100%;
          }
        }
      }
    }
  }
  
  