<div class="cart-container">
  <mat-list>
    <mat-list-item *ngFor="let item of cart.item$ | async; index as i">
      <qo-item-list [item]="item" [index]="i"></qo-item-list>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <div *ngIf="data.asDialog">
    <button mat-button (click)="showCart()">Proceed To Checkout</button>
  </div>
  <div>
    <button mat-button (click)="onBack()">Back</button>
  </div>
  <div *ngIf="cart.itemCost$ | async as totalCost">
    <h3><b>Total Cost: </b> {{ totalCost }}</h3>
  </div>
  <div *ngIf="!data.asDialog && !(order.order$|async)!.id">
    <button mat-button (click)="placeOrder()">Confirm Checkout</button>
  </div>
</div>
